#big{

 position: absolute;
  width: 300px;
  height: 400px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: #a6a6a6;
  border-radius: 2%;
    
    
    
}
#box{
    
    margin-left:  70px;
    
}

#next{
    margin-left: 130px;
    
}
.ha{
    
    margin-left: 70px;
} 

p{
    
    margin-left: 30px;
}